{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
LINE ITEM
----------------------------------------------------------------------------------------------------------------------

This component renders a single line item product information, and is used on order and cart page.

********************************************
Supported variables
********************************************

* line_item: the line item to render (required)
* show_quantity_selector: if set to true, the quantity selector is displayed (useful for instance of mini-cart)
* hr: if set to true, a horizontal rule is displayed below the line item
{%- endcomment -%}

<line-item class="line-item">
  {%- if line_item.image != blank -%}
    {{- line_item.image | image_url: width: line_item.image.width | image_tag: loading: 'lazy', sizes: '(max-width: 699px) 70px, 120px', widths: '70,120,140,210,240,360', class: 'line-item__media w-24 h-32 object-contain' -}}
  {%- endif -%}

  <div class="line-item-info">
    {%- assign text_class = '' -%}

    {%- if settings.product_card_text_font == 'heading' -%}
      {%- assign text_class = 'font-serif text-sm tracking-wide' -%}
    {%- endif -%}

    <div class="gap-2 v-stack justify-items-start">
      {%- if settings.show_vendor and line_item.vendor != blank -%}
        {%- capture vendor_class -%}text-xs uppercase tracking-wide {% if settings.product_card_text_font == 'heading' %}heading{% endif %}{% endcapture %}
        {%- render 'vendor' with line_item.vendor, class: vendor_class -%}
      {%- endif -%}

      <div class="gap-1 v-stack justify-items-start">
        {%- if line_item.url != blank -%}
          <a href="{{ line_item.url }}" class="{{ text_class }}">{{ line_item.product.title | default: line_item.title }}</a>
        {%- else -%}
          <p class="{{ text_class }}">{{ line_item.product.title | default: line_item.title }}</p>
        {%- endif -%}

        {%- render 'price-list', line_item: line_item, context: 'line_item' -%}
      </div>

      {%- capture secondary_information -%}
        {%- if line_item.product.has_only_default_variant == false -%}
          {%- for option in line_item.options_with_values -%}
            <div class="{% unless forloop.last %}mb-2 {% endunless %} text-xs">
              <dd>
                <span class="font-serif uppercase">{{ option.name }}:</span>&nbsp;<span class="">{{ option.value -}}</span>
              </dd>
            </div>
          {%- endfor -%}
        {%- endif -%}
       
        {%- if line_item.selling_plan_allocation -%}
          <p class="text-subdued">{{ line_item.selling_plan_allocation.selling_plan.name }}</p>
        {%- endif -%}

        {%- unless line_item.properties == blank -%}
          <ul class="text-subdued unstyled-list">
            {%- for property in line_item.properties -%}
              {%- assign first_character_in_key = property.first | truncate: 1, '' -%}

              {%- if property.last == blank or first_character_in_key == '_' -%}
                {%- continue -%}
              {%- endif -%}

              <li>
                {%- if property.last contains '/uploads/' -%}
                  <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                {%- elsif property.last contains settings.custom_keyword -%}
                  <span class="text-xs uppercase text-cerise property-Special">{{ property.last }}</span>
                {%- else -%}
                  {{ property.first }}: {{ property.last }}
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endunless -%}
      {%- endcapture -%}

      {%- if secondary_information != blank -%}
        <div class="gap-1 v-stack justify-items-start">
          {{- secondary_information -}}
        </div>
      {%- endif -%}

      {%- if show_quantity_selector -%}
        <line-item-quantity class="h-stack gap-4 {% if request.page_type == 'cart' %}sm:hidden{% endif %}">
          {%- render 'quantity-selector', line_item: line_item, size: 'sm' -%}
          <a href="{{ line_item.url_to_remove }}" class="text-xxs link">{{ 'cart.order.remove' | t }}</a>
          {%- comment -%} Swym Save For Later {%- endcomment -%}
          <a class="underline text-xxs underline-offset-2" href="{{ line_item.url_to_remove }}">
            <save-for-later data-fetch-url="{{ line_item.url_to_remove }}" data-product-url="{{ shop.url }}{{ line_item.url }}" data-variant-id="{{ line_item.variant_id }}" data-product-id="{{ line_item.product_id }}" data-product-qty="{{ line_item.quantity }}" class="wishlist-save-for-later">{{ 'cart.order.save_for_later' | t }}</save-for-later>
          </a>
        </line-item-quantity>
      {%- else -%}
        <p class="text-sm text-subdued sm:hidden">{{ 'customer.order.quantity' | t }}: {{ line_item.quantity }}</p>
      {%- endif -%}

      {%- if line_item.line_level_discount_allocations != blank -%}
        <ul class="gap-1 v-stack justify-items-start unstyled-list" role="list">
          {%- for discount_allocation in line_item.line_level_discount_allocations -%}
            <li class="text-xs discount-badge">
              {%- render 'icon' with 'discount', width: 12 -%} {{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
</line-item>

{%- if hr -%}
  <hr class="line-item-hr">
{%- endif -%}