{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
MEGA MENU IMAGES COMPONENT
----------------------------------------------------------------------------------------------------------------------

Render the images for a given mega-menu

********************************************
Supported variables
********************************************

* context: can be "menu" or "sidebar". This info slightly changes the alignment
* block: the block containing all the information about the menu to render
{%- endcomment -%}

{%- for i in (1..2) -%}
  {%- assign image_setting = 'image_' | append: i -%}
  {%- assign heading_setting = 'image_' | append: i | append: '_heading' -%}
  {%- assign text_setting = 'image_' | append: i | append: '_text' -%}
  {%- assign link_setting = 'image_' | append: i | append: '_link' -%}
  {%- assign aspect_setting = 'image_' | append: i | append: '_landscape' -%}

  {%- capture image_content -%}
    {%- if block.settings[image_setting] -%}
      <div class="overflow-hidden">
        {{- block.settings[image_setting] | image_url: width: block.settings[image_setting].width | image_tag: loading: 'lazy', sizes: '1190px', widths: '568,1190', class: 'zoom-image group-hover:zoom' -}}
      </div>
    {%- endif -%}

    {%- if block.settings[heading_setting] != blank or block.settings[text_setting] != blank -%}
      <div class="v-stack text-left{% if context == 'menu' %} gap-1{% else %} gap-0.5{% endif %}">
        {%- if block.settings[heading_setting] != blank -%}
          <p class="font-sans text-xs tracking-wide uppercase">{{ block.settings[heading_setting] }}</p>
        {%- endif -%}

        {%- if block.settings[text_setting] != blank -%}
          <p class="text-xs tracking-slight">{{ block.settings[text_setting] }}</p>
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endcapture -%}

  {%- if image_content != blank -%}
    {%- if block.settings[link_setting] != blank -%}
      <a href="{{ block.settings[link_setting] }}" class="v-stack justify-items-start gap-4 sm:gap-5 group {% if block.settings[aspect_setting] %}mega-image-landscape{% else %}mega-image{% endif %}">
        {{- image_content -}}
      </a>
    {%- else -%}
      <div class="gap-4 v-stack justify-items-start sm:gap-5 group {% if block.settings[aspect_setting] %}mega-image-landscape{% else %}mega-image{% endif %}">
        {{- image_content -}}
      </div>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}