<div class="section-spacing color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
	<div>
		<div class="gap-10 section-stack lg:gap-12">
			{%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, content: section.settings.content, text_alignment: 'center' -%}
			<div class="grid gap-4 lg:gap-6 lg:grid-cols-3">
				{%- for block in section.blocks -%}
					{%- liquid
						if block.settings.heading != blank
							assign collection_heading = block.settings.heading
						else
							assign collection_heading = block.settings.collection.title
						endif

						if block.settings.button_link != blank
							assign collection_url = block.settings.button_link
						else
							assign collection_url = block.settings.collection.url
						endif
					-%}
					<div class="relative aspect-square">
						{%- if block.settings.image != blank -%}
							<img
								class="object-cover w-full h-full"
								src="{{ block.settings.image | image_url }}"
								width="1500"
								height="1500"
							/>
						{%- elsif block.settings.collection.image != blank -%}
							<img
								class="object-cover w-full h-full"
								src="{{ block.settings.collection.image | image_url }}"
								width="1500"
								height="1500"
							/>
						{%- else -%}
							{{- 'collection-1' | placeholder_svg_tag: 'placeholder' -}}
						{%- endif -%}
						<div class="absolute inset-0 bg-black opacity-25"></div>
						<div class="absolute inset-0 p-12 flex flex-col justify-end gap-8">
							<p class="h4 text-white italic text-lg lg:text-4xl">{{ collection_heading }}</p>
							{% render 'button', 
								content: block.settings.button_text, 
								href: collection_url, 
								background: section.settings.button_background, 
								text_color: section.settings.button_text_color
							%}
						</div>
					</div>
				{%- endfor -%}
			</div>
		</div>
		</div>
  </div>
  
{% schema %}
{
	"name": "t:sections.collection_list.name",
	"tag": "section",
	"disabled_on": {
		"templates": ["password"],
		"groups": ["header", "custom.overlay"]
	},
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:global.colors.scheme",
			"default": "scheme-2"
		},
		{
			"type": "header",
			"content": "t:global.section.header_category"
		},
		{
			"type": "inline_richtext",
			"id": "title",
			"label": "t:global.text.heading",
			"default": "Featured collection"
		},
		{
			"type": "color",
			"id": "button_background",
			"label": "t:global.colors.button_background"
		},
		{
			"type": "color",
			"id": "button_text_color",
			"label": "t:global.colors.button_text"
		},
	],
	"blocks": [
		{
			"type": "collection",
			"name": "t:sections.collection_list.blocks.collection.name",
			"limit": 3,
			"settings": [
				{
					"id": "collection",
					"type": "collection",
					"label": "t:sections.collection_list.blocks.collection.name",
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:global.image.image",
					"info": "t:sections.collection_list.blocks.collection.image_size_recommendation",
				},
				{
					"type": "text",
					"id": "heading",
					"label": "t:global.text.heading",
					"info": "Default to collection title"
				},
								{
					"type": "text",
					"id": "button_text",
							"label": "t:global.text.button_text",
					"default": "Shop"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "t:global.text.button_link",
					"info": "t:sections.collection_list.blocks.collection.button_link_info"
				},
			]
		},
	],
	"presets": [
		{
			"name": "t:sections.collection_list.presets.collection_list.name",
			"blocks": [
				{
					"type": "collection"
				},
				{
					"type": "collection"
				},
				{
					"type": "collection"
				}
			]
		}
	]
}
{% endschema %}